@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    background-color: /*#DEF9E1*/#2d2d2d;
}


h1{
    text-align: center;
    font-size: 7vh;
    color: #999;
}

img, h2, li, embed{ 
    visibility: hidden;
     color: #999;
     font-size: 4vh;
}

.all{
    text-align: center;
}


.überschrift{
font-size: 5vh;
}


/* Scrollleiste ausblenden */
body::-webkit-scrollbar {
  display: none;
}
body{
-ms-overflow-style: none;
}

/*       Übergänge           */

.horizTranslate {
 text-align: left;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 50% !important;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}